<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LaneHealth.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
				<key>dateExpires</key>
				<string>2/17/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CoreModules.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DoubleConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>InputMask.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTAnimation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTBlob.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTLinking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTSettings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTTypeSafety.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTVibration.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNAWSCognito.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNCAsyncStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.17.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNDeviceInfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNGestureHandler.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNLocalize.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNReanimated.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.14.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNSVG.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>12.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNScreens.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.13.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNSentry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNVectorIcons.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReactCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReactNativeCameraKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>13.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React_Codegen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Sentry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20211102.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>cxxreact.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fmt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>folly.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2021.6.28</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>glog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.44.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.44.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>jsi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>jsinspector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>jsireact.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>logger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_background_timer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_blob_util.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.17.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_cameraroll.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_config.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_date_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_document_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_netinfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_pager_view.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.25</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_safe_area_context.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_splash_screen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_text_input_mask.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_version_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_webview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.26.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>reactperflogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.68.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sovran_react_native.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>uv.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B8CB953A6904E6706647D07973BBA26E2DA57606</string>
						<key>dateExpires</key>
						<string>2/17/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>yoga.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TADKLGGZQ8</string>
						<key>name</key>
						<string>Lane Health Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.14.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TADKLGGZQ8.com.lanehealth.appmobile</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TADKLGGZQ8</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>LaneHealth.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fdf3ee1e-4af0-48f0-911b-1263834b8367</string>
				<key>dateExpires</key>
				<string>2/23/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.lanehealth.appmobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TADKLGGZQ8</string>
				<key>name</key>
				<string>Lane Health Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.7.8</string>
		</dict>
	</array>
</dict>
</plist>
